            @import url("http://fonts.googleapis.com/css?family=VT323");
            
            ::selection {color:#FFFFFF; background:transparent;}
            ::-moz-selection {color:#FFFFFF; background:transparent;}
            
            #game_menu *{
                margin: 0;
                padding: 0;
                font-family: "VT323";
            }
            #game_menu body{
                background-color: #000000;
            }
            #game_menu .wrap{
                margin-left: auto;
                margin-right: auto;
            }
            #game_menu header{
                width: 340px;
                font-size: 0;
            }
            #game_menu canvas{
                display: none;
                border-style: solid;
                border-width: 10px;
                border-color: #FFFFFF;
            }
            #game_menu canvas:focus{
                outline: none;
            }
            
            /* Top Styles */
            #game_menu h1{
                display: inline-block;
                width: 100px;
                font-size: 32px;
                color: #FFFFFF;
            }
            #game_menu .score{
                display: inline-block;
                width: 240px;
                font-size: 20px;
                color: #FFFFFF;
                text-align: right;
            }
            #game_menu .score_value{
                font-size: inherit;
            }
            
            #game_menu canvas{
                display: none;
                border-style: solid;
                border-width: 10px;
                border-color: #FFFFFF;
            }
            #game_menu canvas:focus{
                outline: none;
            }
            
            /* All screens style */
            #game_menu #gameover a, #setting a, #menu a{
                display: block;
            }
       
            #game_menu #gameover a, #setting a:hover, #menu a:hover{
                cursor: pointer;
            }
            
            #game_menu #gameover a:hover::before, #setting a:hover::before, #menu a:hover::before{
                content: ">";
                margin-right: 10px;
            }
            
            /* Menu Screen Style */
            #game_menu #menu{
                display: block;
                width: 340px;
                padding-top: 95px;
                padding-bottom: 95px;
                font-size: 40px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                color: #FFF;
            }
            
            #game_menu #menu h2{
                -webkit-animation: logo-ani 1000ms linear infinite;
                        animation: logo-ani 1000ms linear infinite;
                margin-bottom: 30px;
                
            }
            
            #game_menu #menu a{
                font-size: 30px;
            }
            
            @-webkit-keyframes logo-ani{
               50%{-webkit-transform: scale(1.3,1.3);}
              100%{-webkit-transform: scale(1.0,1.0);}
            }

            @keyframes logo-ani{
               50%{transform: scale(1.3,1.3);}
              100%{transform: scale(1.0,1.0);}
            }
            
            
            /* Game Over Screen Style */
            
            #game_menu #gameover{
                display: none;
                width: 340px;
                padding-top: 95px;
                padding-bottom: 95px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 30px;
                color: #FFF;
            }
            
            #game_menu #gameover p{
                margin-top: 25px;
                font-size: 20px;
            }
            
            /* Settings Screen Style */
            #game_menu #setting{
                display: none;
                width: 340px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 85px;
                padding-bottom: 85px;
                font-size: 30px;
                color: #FFF;
                text-align: center;
            }
            
            #game_menu #setting h2{
                margin-bottom: 15px;
            }
            
            #game_menu #setting p{
                margin-top: 10px;
            }
            
            #game_menu #setting input{
                display:none;
            }
            
            #game_menu #setting label{
                cursor: pointer;
            }
            
            #game_menu #setting input:checked + label{
                background-color: #FFF;
                color: #000;
            }